<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= link_to "New user", new_user_path, class: "btn btn-primary"  %>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>


</div>